<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>!PlayMadLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <p> @Model.Nountwo and @Model.Noun to the store and got dog food. After they realized that their dog was @Model.Adjective they @Model.Verb2 to the hospital.  </p>
  </body>

<form action = "/form">
<button type = "submit" value ="play again" >Play again </button>
</form>

</html>